<!DOCTYPE html>
<html lang='en'>
	<meta charset='utf-8'>
	<title>{{.Admin}} // {{.Post.Title}}</title>
	<link rel='stylesheet' href='/static/css/style.css' type='text/css' charset='utf-8'>
	<link rel='stylesheet' href='/static/css/codemirror.css' type='text/css' charset='utf-8'>
	<link rel='stylesheet' href='/static/css/twilight.css' type='text/css' charset='utf-8'>
</head>
<body>

	{{template "editbar.html"}}

	<div class='table'>
		<div class='row'>
			<div class='cell inverse barw'></div>
			<div class='cell base'>
				<article>
					<form method="POST" action="/s/{{.Post.ID}}">
						<input type="submit" name="Submit" value="Submit">
						<input name='id' value='{{.Post.ID}}' />
						<input name='title' value='{{.Post.Title}}' />
						<textarea id='editor' name='content'>{{.Post.Content}}</textarea>
					</form>
				</article>

				<p class='mod'><cite>modified {{.Post.Modified}}</cite></p>
			</div> <!-- /cell -->
		</div> <!-- /row -->
	</div> <!-- /table -->

	<script src="/static/js/codemirror.js"></script>
	<script>
		var editor = CodeMirror.fromTextArea(document.getElementById("editor"), 
			{
    			lineNumbers: true,
    			theme:"twilight"
  			}
  		);
	</script>
</body>
</html>