<!DOCTYPE html>
<html lang='en'>
	<meta charset='utf-8'>
	<title>{{.Post.Title}}</title>
	<link rel='stylesheet' href='/static/css/style.css' type='text/css' charset='utf-8'>
</head>
<body>

	{{template "sidebar.html"}}

	<div class='table'>
		<div class='row'>
			<div class='cell inverse barw'></div>
			<div class='cell base'>
				<article>
					{{.Post.Content}}
				</article>
				<p class='mod'><cite>modified {{.Post.Modified}}</cite></p>
			</div> <!-- /cell -->
		</div> <!-- /row -->
	</div> <!-- /table -->
</body>
</html>