{{define "head"}}<!DOCTYPE html>
<html lang='en'>
	<meta charset='utf-8'>
	<title>{{.Title}}</title>
	<link rel='shortcut icon' href='http://www.gravatar.com/avatar/95b903a8ff36a4175cafc60832d94aaa.png'>
	<link rel='stylesheet' href='/css/style.css' type='text/css' charset='utf-8'>
</head>
{{end}}

{{define "bar"}}
<body>
	<div class='bar'>
		<div class='center'>jacob dearing</div>
		<div class='center'><a href='https://github.com/dearing'>github</a></div>
		<div class='center'><a href='https://twitter.com/#!/netanimus'>twitter</a></div>
		<div class='center'><a href='https://plus.google.com/116499925976940584560'>google plus</a></div>
		<div class='center'><a href='mailto:jacob.dearing@gmail.com'>email</a></div>
	</div>
{{end}}

{{define "foot"}}
</body>
</html>
{{end}}